<!doctype html>
<html class="ebook-page ebook-page-flex" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />

<title><%= title %></title>
<ak-header-metatags></ak-header-metatags>
<xml-sitemap></xml-sitemap>
<site-verification google="dLnKRZoqR62ZVfknDwiPvZP1NhODZRjolbGRNCaHsSQ"></site-verification>
<ak-header-linkreltags></ak-header-linkreltags>
<ak-stylesheets></ak-stylesheets>
<ak-headerJavaScript></ak-headerJavaScript>

</head>

<body class="ebook-page ebook-page-flex">

<div id="page-container"> <!--  class="panel panel-default" -->
    <div id="site-navbar"><partial file-name="site-navbar.html"></partial></div>
    <ebook-page-header id="ebook-masthead" header-height="60px"></ebook-page-header>
    <ebook-navigation-header id="ebook-navigation" class="panel-heading"></ebook-navigation-header>
    <div id="book-page-content" class="panel-body"><%- content %></div>
    <footer id="footer-row" class="container">
    <partial file-name="footer.html.ejs"></partial>
    </footer>
</div>

<ak-footerJavaScript></ak-footerJavaScript>
<partial file-name="google-analytics.html"></partial>

</body>
</html>
